@import './fonts.css';

.download {
    height: 396px;
    background: url(../assets/background/download.png);
    background-repeat: no-repeat;
    background-size: 100% 396px;
    background-position: center center;
    color: #fff;
    margin-bottom: 0;
    margin-top: 0;
}

.download__text {
    padding-top: 92px;
    color: #373737;
}

.download__text>h3 {
    margin: 0 0;
    padding-bottom: 17px;
    text-align: center;
    font-family: 'Gotham Rounded Bold';
    font-size: 20px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

.download__description {
    font-family: 'Gotham Rounded Medium';
    font-size: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0;
    line-height: 24px;
}
.download__buttons {
    display: flex;
    padding-top: 47px;
    padding-left: 202px;
}
.download__buttons__apple {
    display: flex;
    padding-right: 26px;
}
.download__btns {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 56px !important;
    width: 240px !important;
    font-family: "Gotham Rounded Bold";
    font-size: 16px;
    letter-spacing: 0.15em;
    background-color: #1abc9c !important;
}
.download__buttons__play {
    display: flex;
}
.download__btns__icons {
    height: 56px !important;
    width: 56px !important;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}